#service-img{
    margin-top: 1.3rem;
    border-radius: 0.6rem;
}

#service-img-sub{
    font-weight: 600;
    margin-top: 1rem;
}

#service-rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#divider{
    margin-bottom: 1rem;
}

