#signup-modal{
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    width: 400;
    background-color: 'white';
    border: '2px solid #000';

}

#btn-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

#grid-container{
    margin-bottom: 0.3rem;
}


#title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title-text{
    font-weight: 400;
}

#divider{
    color: lightgray
}

#social-login-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.3rem;
}

#signup-btn{
    background-color: var(--green);
}

