
#logo{
    width: 40%;
    height: auto;
}

#navbar-buttons{
    display: flex;
    flex-direction: row-reverse;
}

#navbar{
    background-color: lightgray;
}

#login-btn{
    color:black;
    font-weight: 600;
}

#logo{
    width: 11.5rem;

    margin-left: 0.5rem;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 1.3rem;
}

.stack{
    height: 2rem;
    align-items: center;
}

#login-btn{
    background-color: #76ABAE;
    color: white;
}